@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso University";
}

<h1 style="text-align: center;" class="display-3 my-5">Contoso University<br />Home of the Condors</h1>
<div class="row justify-content-center">
    <img src="~/images/university.jpg" alt="university" class="col-md-5 p-0 me-5" />
    <p class="col-md-5 display-5 text-center align-content-center">Experience Contoso</p>
</div>
<div class="row justify-content-center">
    <p class="col-md-5 display-5 text-center align-content-center me-5" style="color: darkred; background-color: white;">Pursue Your Goals</p>
    <img src="~/images/grads.jpg" alt="graduation" class="col-md-5 p-0" />
</div>
<div class="row justify-content-center">
    <img src="~/images/library.jpg" alt="library" class="col-md-5 p-0 me-5" />
    <p class="col-md-5 display-5 text-center align-content-center">Lead the Future</p>
</div>